*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Roboto", sans-serif;
}

/* nav bar */

.nav{
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.logo img{
    height: 43px;
    width: 70px;
}
.nav-list ul{
    display: flex;
    gap: 50px;
    font-size: 15px;
    list-style: none;
}
.nav-list ul li a{
    text-decoration: none;
    color: #333333;
}
.nav-list ul li:first-child{
    border-top: solid 1px ;
    border-bottom: solid 1px;
}

/* first page */

.first-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
   
}
.title{
    height: 80vh;
    width: 75%; 
}
.title span{
    font-size: 64px;
    color: #BDBDBD;
}
.title p{
    font-size: 64px;
    color: #333333;
    font-weight: bold;
}

/* footer */

.footer{
    height: 50vh;
    width: 100%;
    background-color: #2C2C2C;
}
.footerall{
    height: 40vh;
    display: flex;
    justify-content: space-around;
}
.logo img{
    margin-top: 50px;
    height: 94px;
    width: 145px;
}
.col2{
    margin-top: 50px;
    line-height: 35px;
    color: #FFFFFF;
}
.col2 span{
    font-size: 16px;
}
.list-2 ul{
    list-style: none;
}
.list-2 ul li{
    font-size: 14px;
}
.col3{
    margin-top: 50px;
}
.col3 p{
    font-size: 14px;
    color: #FFFFFF;
}
.col3 img{
    height: 16px;
    width: 11px;
}
.col3-title p{
    font-size: 16px;
}
.col3-location{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.col3-call{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.col3-mail{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.col4{
    margin-top: 50px;
}
.col4-title p{
    font-size: 16px;
    color: #FFFFFF;
}
.col4-icon{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.copy{
    margin-top: 25px;
    font-size: 12px;
    color: #C8C8C880;
    text-align: center;
}

/* media ressponse */

@media(max-width: 780px){

    /* nav bar */

.nav{
    height: 50vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-list ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    list-style: none;
}

/* first page */

.first-page{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    height: auto;
    margin-top: 20px;
    width: 100%;
}
.title span{
    font-size: 50px;
    color: #BDBDBD;
}
.title p{
    font-size: 50px;
    color: #333333;
    font-weight: bold;
}

/* footer */

.footer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #2C2C2C;
    padding-bottom: 20px;
}
.footerall{
    padding-bottom: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.col2{
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.col3{
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
}
.col4{
    margin-top: 10px;
    text-align: center;
}
.copy{
    margin-top: 25px;
    font-size: 12px;
    color: #C8C8C880;
    text-align: center;
}
}